* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    color: #212529e5;
    background-color: #fff;
}

.bloque {
    width: 100%;
    height: auto;
}

.titulo-encabezado {
    font-size: 50px;
    text-align: center;
}

.icono {
    width: 1em;
    height: 1em;
}

.elementos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.elemento {
    margin: 1em;
    display: flex;
    overflow: auto;
    align-items: center;
}

.encabezado {
    font-size: 22px;
}

.titulo {
    display: flex;
    font-size: 48px;
    align-items: center;
}

div.logos,
div.idiomas {
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

div.logos>div.logo,
div.idiomas>div.idioma {
    height: 9em;
    flex-grow: 1;
    display: flex;
    max-width: 9em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

div.idiomas>div.idioma>video {
    width: 4em;
    height: 4em;
}